/*----------------------------------------------------------------------------------------
 These rules apply to the Browse Templates module (browse_templates.php) specifically
----------------------------------------------------------------------------------------*/

h2, h3 {
   margin-top: 0;
}

h2 { font-weight: normal; }
h2 strong {
   font-weight: bold;
}

fieldset {
   margin-left: 0;
   border: 0;
}

#template_details,
#search_tools,
#template_results {
   margin-bottom: 10px;
   /*border: 1px dotted gray;*/
}


/* template_details
--------------------------------*/
#template_details {
   display: none;
   padding: 10px;
   background-color: #E5ECF9;
}


/* browse_category
--------------------------------*/
#search_tools label {
   display: block;
   /*float: left;*/
   margin-right: 15px;
}

select#category {
   font-size: 150%;
}


/* search_tools
--------------------------------*/
#browse_category,
#sort_container {
   float: left;
   padding: 0 15px 0 0;
   vertical-align: top;
}

#sort_container {
   margin-left: 50px;
   /*border-left: 1px solid #ccc;*/
}

#sort_container ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

#sort_container li {
   display: inline;
}

#sort_container li a {
   float: left;
   padding: 0 10px 2px;
   border-left: 1px solid #ccc;
   /*width: 10em;*/
}
#sort_container li:first-child a {
   border-left: 0;
}

/*#sort_container li {
   display: block;
   float: left;
   width: 8em;
}*/


/* template_results
--------------------------------*/
#template_results {
   border: 1px dashed #ccc;
   height: 240px;
   overflow: auto;
}

#template_results div.template_container-off,
#template_results div.template_container-on {
   float: left;
   width: 150px;
   /*height: 130px;*/
   overflow: hidden;
   vertical-align: top;
   text-align: center;
   margin: 5px;
   padding: 8px;
   border: 1px solid transparent;
}

#template_results div.template_container-on {
   background-color: #336699;
   border: 1px solid #ffc417;
}