/*----------------------------------------------------------------------------------------
 These rules apply to the Browse Templates module (browse_templates.php) specifically
----------------------------------------------------------------------------------------*/

h2, h3 {
   margin-top: 0;
}

fieldset {
   margin-left: 0;
   border: 0;
}

#template_details,
#search_tools {
   margin-bottom: 10px;
   /*border: 1px dotted gray;*/
}


/* template_details
--------------------------------*/
#template_details {
   position: absolute;
   left: 80px;
   display: none;
   padding: 10px;
   background-color: #336699;
   border: 1px solid #ffc417;
   width: 615px;
}
#template_details img,
#template_details #info,
#template_details #info #layouts,
#template_details #buttons {
   float: left;
   /*border: 1px solid red;*/
}

#template_details #info,
#template_details #buttons {
   margin-left: 20px;;
}

#template_details #info {
   /*width: 310px;*/
}

#template_details h3 {
   margin-bottom: 0;
}

#template_details ul {
   margin: 0 0 0 20px;
   padding: 0;
   list-style-type: square;
}

#template_details ul li {
   /*display: inline;*/
}

#template_details #info #layouts {
   margin-left: 10px;
}

#template_details #buttons input {
   display: block;
   width: 180px;
   margin-bottom: 15px;
}

div#close_details {
   position: absolute;
   bottom: 0px;
   right: 0px;
   border: 1px solid red;
   padding: 2px;
   cursor: pointer;
   background-color: #980000;
}
div#close_details:hover {
   background-color: #d70000;
}


/* browse_category
--------------------------------*/
#search_tools label {
   display: block;
   font-size: 12px;
   font-weight: bold;
   /*float: left;*/
   /*margin-right: 15px;*/
}

select#category,
select#sort_by,
select#show_colors,
select#limit_num {
   font-size: 130%;
}


/* search_tools
--------------------------------*/

#browse_category {
   margin-left: 10px;
}

#browse_category,
#sort_container,
#color_container,
#limit_container {
   float: left;
   padding: 0 15px 0 0;
   vertical-align: top;
   /*text-align: center;*/
}

#sort_container,
#color_container,
#limit_container {
   margin-left: 45px;
   /*border-left: 1px solid #ccc;*/
}



/* template_results
--------------------------------*/
#template_results {
   border: 1px dashed #999;
   height: 270px;
   _height: 250px;
   overflow: auto;
   clear: both;
}

#template_results div.template_container-off,
#template_results div.template_container-on {
   float: left;
   width: 150px;
   /*height: 130px;*/
   overflow: hidden;
   vertical-align: top;
   text-align: center;
   margin: 5px 7px;
   padding: 3px;
   border: 1px solid transparent;
   /*border: 1px solid red;*/
}

/* Style of template thumb square mouseover should match template_details box */
#template_results div.template_container-on,
#template_details {
   color: #fff;
   background-color: #336699;
   border: 1px solid #ffc417;
}


#Layer1 {
   display: none !important;
   visibility: hidden !important;
}


#loading_overlay {
   position: absolute;
   top: 0px;
   left: 0px;
	width: 100%;
	_width: 780px;
	height: 100%;
	display: block;
   z-index:40000000; 
   margin: 0px;
	background-color: #666666;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	/*border: 3px solid orange;*/
}

#loading_box {
   width: 400px;
   height: 60px;
   margin: 150pt auto;
   text-align: center;
   border: 2px solid orange;
   background-color: #FFFFFF;
}

#loading_text {
   margin-top: 20px;
   font-weight: bold;
}