/*============================================================================================
v4.91 r1
Rules for SitePal feature > Management Module
Included by: sitepal/management_module.php
============================================================================================*/

/*---------------------------------------------------------------------------------------------------------*
 _  _                _             _  _
| || | ___  __ _  __| | ___  _ _  | \| | __ _ __ __
| __ |/ -_)/ _` |/ _` |/ -_)| '_| | .` |/ _` |\ V /
|_||_|\___|\__,_|\__,_|\___||_|   |_|\_|\__,_| \_/

/*---------------------------------------------------------------------------------------------------------*/
form {
   margin-top: 0;
}

#header_nav {
   width: 100%;
   margin: 0;
   border: 1px solid #000;
   border-width: 1px 0 1px;
}
#nav {
   margin: 0;
   padding: 0;
   background-image: url('images/header_nav.gif');
   background-position: 0 -5px;
   float: left;
   width: 100%;
   border: 1px solid #2e2e2e;
   border-width: 0px 0;
}
#nav li {
   display: inline;
   padding: 0;
   margin: 0;
}

#nav a:link,
#nav a:visited {
   color: #fff;
   padding: 8px 25px 7px 25px;
   float: left;
   width: auto;
   /*height: 31px;*/
   border-right: 1px ridge #fff;
   text-decoration: none;
   font: bold 1.1em/1.1em Arial, Helvetica, sans-serif;
   /*text-transform:uppercase;*/
   text-shadow: 2px 2px 2px #555;
   background-image: url('images/header_nav.gif');
   background-repeat: repeat-x;
   background-position: 0 -5px;
}
#nav a:hover {
   color:#fff;
   background-image: url('images/nav-hover.gif');
   background-position: 0 -5px;
}

#nav li.disabled a:link, #nav li.disabled a:visited, #nav li.disabled a:hover,  {
   font-weight: normal;
   font-style: italic;
   color: #888c83;
}

/* For "current" tab style */
#accounts #nav-accounts a,
#scenes #nav-scenes a,
#template #nav-template a,
#audio  #nav-audio a {
   background-image: url('images/nav-current.gif');
}

/* Body id-based tab/content display */
/* Content layers hidden by default */
#my_accounts,
#my_scenes,
#template_scene,
#my_audio {
   display: none;
}

/* "ON" Display style for "current" layer */
#accounts #my_accounts,
#scenes #my_scenes,
#template #template_scene,
#audio #my_audio {
   display: block;
}


/* Entire body area beneath header_nav */
#content_container {
   margin: 40px 20px 10px;
}


/* Others */
h1 { font-size: 16px; margin-top: 5px; margin-bottom: 3px; }
h2 { font-size: 15px; margin-bottom: 5px; }
h4 { margin-top: 0; }

/* Text appearing directly below a headline */
.subheading_explination_txt {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 12px;
}


#accountid {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 10px;
   width: 65px;
}

#username {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 10px;
   width: 220px;
}

#password {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 10px;
   width: 100px;
}

.help_link {
   color: #ff7900;
   text-decoration: underline;
   cursor: pointer;
}

.savebtn-container {
   text-align: right;
}
#template .savebtn-container {
   margin: 10px;
}

/* Account Info */
#container-add_account_btn {
   text-align: right;
}
#btn-add_account {
   font-size: 13px;
   font-weight: bold;
}

.account_box {
   margin: 5px;
   padding: 5px;
   border: 1px solid #ccc;
   background-color: #fff;
}

.account_box-heading {
   display: block;
   clear: both;
   /*border: 1px solid red;*/
}
.account_box-heading h3 {
   float: left;
}
.account_box-heading div.editlink {
   float: right;
}
/*.account_box-heading div.editlink span {
   float: right;
   margin-left: 30px;
}*/

.account_box h3 {
   font-size: 13px;
   margin: 0;
}
.account_box h4 {
   font-size: 12px;
   /*margin: 0;*/
}
.account_box label {
   color: #888c8e;
}
/* Scene thumbnail preview images */
.scene_thumbnail_gallery img {
   height: 50px;
   width: 50px;
}
.scene_thumbnail_gallery {
   width: 100%;
   height: 55px;
   overflow: auto;
}


/*---------------------------------------------------------------------------------------------------------*
   _       _     _     _                            _
  /_\   __| | __| |   /_\   __  __  ___  _  _  _ _ | |_
 / _ \ / _` |/ _` |  / _ \ / _|/ _|/ _ \| || || ' \|  _|
/_/ \_\\__,_|\__,_| /_/ \_\\__|\__|\___/ \_,_||_||_|\__|

Add/Edit Account Popup
/*---------------------------------------------------------------------------------------------------------*/
/* "off" mode */
#text-edit_account,
#text-add_account {
   display: none;
}
/* "on" mode */
.editmode #text-edit_account,
.addmode #text-add_account {
   display: block;
}


/* ----- Account Name/Title Option ----- */
/* "off"/default styles */
#account_title_option {
   display: block;
   margin: 8px 3px 0 0;
   padding: 3px;
   /*border: 1px ridge #2e2e2e;*/
   border-width: 1px 0;
}
/* "on" mode */
.editmode #account_title_option { display: block; }


#account_title_option p {
   margin: 0;
}
#account_title {
   font-size: 12px;
   width: 200px;
}


/*---------------------------------------------------------------------------------------------------------*
Character in Template
/*---------------------------------------------------------------------------------------------------------*/
table.scene_properties th {
   text-align: left;
   padding-bottom: 0;
   font-weight: normal;
}
table.scene_properties td.thumb_cell {
   text-align: center;
}
.scene_properties input {
   font-size: 11px;
   font-family: Courier New, courier, mono;
}


/*select.sitepal_scene_dropdown option {
   padding: 2px 0 2px 20px; background-repeat: no-repeat; background-position: 1px 2px; vertical-align: middle;
}*/


/*---------------------------------------------------------------------------------------------------------*
Character in Template
/*---------------------------------------------------------------------------------------------------------*/
#template h4 {
   margin-bottom: 4px;
}